.presentation-creator {
  display: flex;
  flex-direction: column;
  padding: 30px;

  .topic-element {
    display: flex;
    margin-bottom: 20px;
    height: 100px;
    align-items: center;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);

    .topic {
      display: flex;
      flex: 1;
      height: 40px;
    }

    .delete-item-button {
      display: none;
    }
  }

  .topic-element:hover {

    .delete-item-button {
      display: flex;
    }

    .topic {
      padding-right: 20px;
    }
  }

  .btn-primary {
    margin-bottom: 20px;
  }

  .btn-continue-shell {
    display: flex;
    justify-content: flex-end;

    .btn-success {
      width: 15%;
    }
  }
}