.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .email {
    margin-top: 50px;
    width: 450px;
  }

  .pass {
    margin-top: 20px;
    width: 450px;
  }

  .login-button-shell {
    display: flex;
    justify-content: center;

    .login-button {
      margin-top: 20px;
      width: 200px;
    }
  }

  .login-with-google-button {
    margin-top: 30px;
  }
}
